@font-face {
    font-family: 'Montserrat';
    src: local('Gilroy-Regular'),
        url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Light'),
        url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Medium'),
        url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-SemiBold'),
        url('../fonts/MontserratAlternates/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/MontserratAlternates/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/MontserratAlternates/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}